.header {
    display: flex;
    justify-content: space-between;
}

.toHomeLink {
    width: 50px;
    margin-left: -40px;
}

.toLogout {
    width: 50px;
}

.auth {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 20px;
}
